<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #addWrap{
        width: 1000px;
        height: 800px;
        border: 1px solid;
    }
    img{
        width: 100px;
        height: 100px;
    }
</style>
<body>
    <div id="addWrap">  
        <div></div>
        
        <div align="center">
            <h3>음식점 추가 페이지</h3>
            
         <table>
            <tr>
                <td><img src="./resources/logo.PNG.png" alt=""></td>
                <td><input type="file" name="" id=""></td>
            </tr>

            <tr>
                <td>음식점명</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>전화번호</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>위치</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            
            <tr>
                <td>음식점명</td>
                <td><input type="text" name="" id=""></td>
                <td><button>추가</button></td>
            </tr>

            <tr>
                <td>음식점명</td>
                <td><input type="text" name="" id=""></td>
                <td><button>추가</button></td>
            </tr>

            <tr>
                <td>태그</td>
                <td><input type="text" name="" id=""></td>
                <td><button>추가</button></td>
            </tr>

         </table>   
        
        </div>
        
        <div></div>
    </div>
</body>
</html>