<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectAdminMemberList">
	SELECT 
	       MEM_NO
	      ,MEM_NAME
	      ,GENDER
	      ,PHONE
	      ,ADDRESS
	  FROM MEMBER

</entry>

<entry key="loginMember">
SELECT 
	   MEM_NO
     , MEM_GRADE
     , MEM_ID
     , MEM_PWD
     , MEM_NAME
     , GENDER
     , AGE
     , NICKNAME
     , EMAIL
     , PHONE
     , ADDRESS
     , ENROLL_DATE
     , STATUS
     , QUIT_REASON
     , SELF_INTRODUCTION
FROM MEMBER
WHERE MEM_ID = ?
  AND MEM_PWD = ?
  AND STATUS = 'Y'
</entry>

<entry key="insertMember">
INSERT
  INTO MEMBER
     (
	   MEM_NO
     , MEM_GRADE
     , MEM_ID
     , MEM_PWD
     , MEM_NAME
     , GENDER
     , AGE
     , NICKNAME
     , EMAIL
     , PHONE
     , ADDRESS
     , ENROLL_DATE
     , STATUS
     , QUIT_REASON
     , SELF_INTRODUCTION
     )
VALUES
     (
       SEQ_MNO.NEXTVAL
     , '일반'
     , ?
     , ?
     , ?
     , ?
     , ?
     , ?
     , ?
     , ?
     , ?
     , DEFAULT
     , 'Y'
     , NULL
     , NULL
     )
</entry>

<entry key="idCheck">
	SELECT count(*) "COUNT" 
	  FROM MEMBER
	 WHERE MEM_ID = ?	

</entry>

<entry key="updateMember">
UPDATE MEMBER
   SET NICKNAME = ?
     , SELF_INTRODUCTION = ?
     , EMAIL = ?
     , PHONE = ?
     , ADDRESS = ?
 WHERE MEM_ID = ?
</entry>

<entry key="selectMember">
 	SELECT 
	        MEM_NO
         ,  MEM_GRADE
         ,  MEM_ID
         ,  MEM_PWD
         ,  MEM_NAME
         ,  GENDER
         ,  AGE
         ,  NICKNAME
         ,  EMAIL
         ,  PHONE
         ,  ADDRESS
         ,  ENROLL_DATE
         ,  STATUS
         ,  QUIT_REASON
         ,  SELF_INTRODUCTION
	FROM MEMBER
	WHERE MEM_ID = ?
	  AND STATUS = 'Y'
</entry>

<entry key="emailcheck">
SELECT 
	   MEM_NO
     , MEM_GRADE
     , MEM_ID
     , MEM_PWD
     , MEM_NAME
     , GENDER
     , AGE
     , NICKNAME
     , EMAIL
     , PHONE
     , ADDRESS
     , ENROLL_DATE
     , STATUS
     , QUIT_REASON
     , SELF_INTRODUCTION
FROM MEMBER
WHERE MEM_ID = ?

</entry>

<entry key="emailcheckOne">
SELECT 
	   MEM_NO
     , MEM_GRADE
     , MEM_ID
     , MEM_PWD
     , MEM_NAME
     , GENDER
     , AGE
     , NICKNAME
     , EMAIL
     , PHONE
     , ADDRESS
     , ENROLL_DATE
     , STATUS
     , QUIT_REASON
     , SELF_INTRODUCTION
FROM MEMBER
WHERE EMAIL = ?

</entry>



<entry key="updatePwd">
 	 UPDATE MEMBER
	   SET MEM_PWD = ?
	  WHERE MEM_ID = ?
	  AND MEM_PWD = ?
</entry>

<entry key="memDelete">
	UPDATE MEMBER
	   SET STATUS ='N'
	 WHERE MEM_ID = ?
	   AND MEM_PWD = ?
</entry>

<entry key="deleteReason">
	UPDATE MEMBER
	   SET QUIT_REASON = ?
	 WHERE MEM_ID = ?
	   AND MEM_PWD = ?
</entry>


<entry key="insertProfile">
INSERT
  INTO ATTACHMENT
  (
    FILE_NO
  , REF_BNO
  , ORIGIN_NAME
  , CHANGE_NAME
  , FILE_PATH
  , UPLOAD_DATE
  , STATUS
  , CATEGORY
  )
  VALUES
  (
    SEQ_FNO.NEXTVAL
  , ?
  , ?
  , ?
  , ?
  , DEFAULT
  , 'Y'
  , 'PROFILE'
  )

</entry>


<entry key="updateProfile">
UPDATE ATTACHMENT
   SET ORIGIN_NAME = ?
     , CHANGE_NAME = ?
 WHERE REF_BNO = ?
   AND CATEGORY = 'PROFILE'
</entry>


<entry key="selectAttachment">
	SELECT
	       FILE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	  FROM ATTACHMENT
	 WHERE REF_BNO = ?
	   AND CATEGORY = 'PROFILE'
	   AND STATUS = 'Y'
</entry>

<entry key="selectId">
 	SELECT 
	        MEM_NO
         ,  MEM_GRADE
         ,  MEM_ID
         ,  MEM_PWD
         ,  MEM_NAME
         ,  GENDER
         ,  AGE
         ,  NICKNAME
         ,  EMAIL
         ,  PHONE
         ,  ADDRESS
         ,  ENROLL_DATE
         ,  STATUS
         ,  QUIT_REASON
         ,  SELF_INTRODUCTION
	FROM MEMBER
	WHERE EMAIL = ?

</entry>



</properties>













